.layout {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  transition: all 444ms ease-out;
}

.topTextContainerLight {
  position: relative;
  text-align: center;
  display: block;
  background-color: black;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 33px;
  transition: all 271ms ease-in-out;
}

.topTextContainerLight,
.topText {
  z-index: 2;
}
