.modal {
  height: 100vh;
  width: 100vw;
  z-index: 4;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.7);
  transition: all 444ms ease-in-out;
  position: fixed;
  overflow: hidden;
}

.comingSoonTextContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
}

.comingSoonTextContainer h1 {
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

.lightBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 11px;
  background: white;
  z-index: 2;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
  animation: animatelightbar 2.5s linear infinite;
}

@keyframes animatelightbar {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(280px - 10px));
  }
  95%,
  100% {
    transform: scaleY(0) translateX(calc(280px - 10px));
  }
}
