html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.certificateVisible {
  overflow: hidden;
}

.youTubeVideo {
  object-fit: contain;
  margin: 11px;
  height: 271px;
  width: 481px;
  padding: 4px;
  border-radius: 11px;
  transition: all 444ms;
}

.youTubeVideo:hover {
  transform: scale(1.01);
}

@media only screen and (max-width: 1000px) {
  .youTubeVideo {
    object-fit: contain;
    margin: 11px;
    height: 154px;
    width: 275px;
    padding: 4px;
    border-radius: 11px;
    transition: all 444ms;
  }
  .youTubeVideo:hover {
    transform: scale(1);
  }
}
